.dashboard-wrapper {
  min-height: 100vh;
  background: #e6f0ff;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #0d3b66;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 50, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
}



.navbar-logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #dceeff;
}

.dashboard-content {
  padding: 30px;
}